<div class="main__fluxlist__reviewblock__reviewItem">
    <div class="time-right-space">
        <p class="main__fluxlist__reviewblock__reviewItem__dateTime"> {{ review.time_created }} </p>
    </div>
    {% if review.user.id == request.user.id %}
        <p class="main__fluxlist__reviewblock__reviewItem__user"> Vous avez publié une critique</p>
    {% else %}
        <p class="main__fluxlist__reviewblock__reviewItem__user"> {{ review.user.username }} a publié une critique</p>
    {% endif %}
    <p> {{ review.headline }}</p>
    {% if review.rating == 0 %}
        <p> ☆☆☆☆☆ </p>
    {% elif review.rating == 1 %}
        <p> ★☆☆☆☆ </p>
    {% elif review.rating == 2 %}
        <p> ★★☆☆☆ </p>
    {% elif review.rating == 3 %}
        <p> ★★★☆☆ </p>
    {% elif review.rating == 4 %}
        <p> ★★★★☆ </p>
    {% elif review.rating == 5 %}
        <p> ★★★★★ </p>
    {% endif %}
    <p> {{ review.body}}</p>
    <p></p>
</div>