<p class="main__fluxlist__ticketItem__dateTime"> {{ ticket.time_created }} </p>
{% if ticket.user.id == request.user.id %}
    <p class="main__fluxlist__ticketItem__user"> Vous avez demandé une critique</p>
{% else %}
    <p class="main__fluxlist__ticketItem__user"> {{ ticket.user.username }} a demandé une critique</p>
{% endif %}
<p> {{ ticket.title }}</p>
<p> {{ ticket.description}}</p>
{% if ticket.image %}
<img src=" url ticket.image " alt="Image ticket">
{% endif %}
{% if ticket.user.id == request.user.id %}
    <a class="btn" href="{% url 'ticketcreation' id_ticket=ticket.id %}">Modifier un ticket</a>
{% endif %}
{% if withreview == False %}
    <a class="btn" href="{% url 'reviewcreation' id_ticket=ticket.id %}">Créer une critique</a>
{% endif %}
<p class="button_space"></p>