<div class="time-right-space">
    <p class="main__fluxlist__ticketItem__dateTime"> {{ ticket.time_created }} </p>
</div>
{% if ticket.user.id == request.user.id %}
    <p class="main__fluxlist__ticketItem__user"> Vous avez demandé une critique</p>
{% else %}
    <p class="main__fluxlist__ticketItem__user"> {{ ticket.user.username }} a demandé une critique</p>
{% endif %}
<p> {{ ticket.title }}</p>
<p> {{ ticket.description}}</p>
{% if ticket.image %}
    <img src=" {{ticket.image.url}} " alt="Image ticket" class="image">
{% endif %}
