{# ticket snippet #}
<div class="time-right-space">
    <p class="main__fluxlist__ticketItem__dateTime"> {{ ticket.time_created }} </p>
<!-- end of time-right-space div -->
</div>
{# check if the user is the ticket s writer to display 'vous' or the ticket's writer name #}
{% if ticket.user.id == request.user.id %}
    <p class="main__fluxlist__ticketItem__user"> Vous avez demandé une critique</p>
{% else %}
    <p class="main__fluxlist__ticketItem__user"> {{ ticket.user.username }} a demandé une critique</p>
{% endif %}
<p> {{ ticket.title }}</p>
<p> {{ ticket.description}}</p>
{# check if there's an image and display it, if so #}
{% if ticket.image %}
    <img src=" {{ticket.image.url}} " alt="Image ticket" class="image">
{% endif %}
