{% load static %}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header class="Header">
            <div class="Header__content">
                <div class="Header__content__left">
                    {% if user.is_authenticated %}
                        <a>{{ request.user }}</a>
                    {% endif %}
                </div>
                <div class="Header__content__title">
                    <h1>LITReview</h1>
                </div>
                <div class="Header__content__Menu">
                    {% if user.is_authenticated %}
                        <a>Flux</a>
                        <a>Posts</a>
                        <a>Abonnements</a>
                        <a href="{% url 'logout' %}">Se déconnecter</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="Main">
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>