.main__fluxlist__block, .main__postlist__block{
    width: 90vw;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.main_fluxlist__reviewblock__ticketItem{
    width: 80vw;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.main__Review__TicketCreationBlock, .main__Review__ReviewCreationBlock, .Main__Review__Ticket, .Main__Review__Review{
    width: 80vw;
    border: 1px solid black;
    margin: auto;
    display: block;
}
.Main__Review__TicketCreationBlock__Ticket, .Main__Review__ReviewCreationBlock__Review{
    width: 70vw;
    margin: auto;
    display: block;
}
.main__Review__Ticket__ticketItem{
    width: 70vw;
    border: 1px solid black;
    margin: auto;
    display: block;
}
.main__TicketCreationBlock{
    width: 70vw;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
}
#id_title, #id_description, #id_headline, #id_body{
    width: 70vw;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.main__fluxlist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_space{
    margin: 40px;
}
.main__buttons{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__subscription__subscription__input{
    display: grid;
    grid-template-columns: 7fr 1fr;
    width: 60vw;
    height: 70px;
}
.main__subscription__title, .main__TitleDiv__Title{
    text-align: center;
}
.main__subscription__followed__item{
    width: 80vw;
    display: grid;
    grid-template-columns: 7fr 1fr;
    border: solid black 1px;
}
.main__subscription__followed__item__link{
    border-left: solid black 1px;
    text-align: center;
}
.main__subscription__follower__item{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    border: solid black 1px;
}
.btn-right-space{
    display: flex;
    justify-content: flex-end;
}
.time-right-space{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
.image{
    width: 150px;
    height: 150px;
}
.rate {
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 10vw;
}
.text_sized{
    font-size: larger;
}