body{
    border: 2px solid black;
}
.Header {
    border-bottom: 2px solid black;
}
.Header__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    overflow: auto;
    align-items: center;
    margin: 15px;
}
.Header__content__left{
    justify-self: start;
    margin-left: 15px;
}
.Header__content__Menu{
    justify-self: end;
    margin-right: 15px;
}
.Header__content__title{
    margin: auto;
}
.Main{
    margin-left: 5px;

}
.btn{
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 15px 25px;
    margin: 10px;
}
.btn:hover{
    font-weight: bold;
    cursor: pointer;
}
.litreviewtitle{
    font-size: large;
    font-weight: bold;
    margin: auto;
}
