{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'appweb/css/styles.css' %}">
{% endblock style %}
{% block content %}
    <div class="main__buttons">
        <div class="main__buttons__askingcritic"><a class="btn" href="{% url 'ticketcreation' %}">Demander une critique</a></div>
        <div class="main__buttons__creatingcritic"><a class="btn" href="{% url 'ticketreviewcreation' %}">Créer une critique</a></div>
    </div>
    <div class="main__fluxlist">
        {% for post in posts %}
            {% if post.content_type == 'TicketWithoutReview' %}
                <div class="main__fluxlist__block">
                    <div class="main__fluxlist__ticketItem">
                        {% include 'appweb/partials/ticket_snippet.html' with ticket=post %}
                        {% include 'appweb/partials/review_btn_creation_snippet.html' with ticket=post %}
                        <p class="button_space"></p>
                    </div>
                </div>
            {% elif post.content_type == 'Review' %}
                {% for ticket in ticketswithreview %}
                    {% if ticket.id == post.ticket.id %}
                        <div class="main__fluxlist__block">
                            {% include 'appweb/partials/review_snippet.html' with review=post ticket=ticket %}
                            <div class="main_fluxlist__reviewblock__ticketItem">
                                {% include 'appweb/partials/ticket_snippet.html' with ticket=ticket withreview=True %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}