{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'appweb/css/styles.css' %}">
{% endblock style %}
{% block content %}
    <div class="main__buttons">
        <div class="main__buttons__askingcritic"><a class="btn" href="{% url 'ticketcreation' %}">Demander une critique</a></div>
        <div class="main__buttons__creatingcritic"><a class="btn" href="{% url 'ticketcreation' %}">Créer une critique</a></div>
    </div>
    <div class="main__fluxlist">
        {% for ticket in tickets %}
        <div class="main__fluxlist__ticketItem">
            <p class="main__fluxlist__ticketItem__dateTime"> {{ ticket.time_created }} </p>
            {% if ticket.user.id == request.user.id %}
                <p class="main__fluxlist__ticketItem__user"> Vous avez demandé une critique</p>
            {% else %}
                <p class="main__fluxlist__ticketItem__user"> {{ ticket.user.username }} a demandé une critique</p>
            {% endif %}
            <p> {{ ticket.title }}</p>
            <p> {{ ticket.description}}</p>
            {% if ticket.image %}
            <img src=" url ticket.image " alt="Image ticket">
            {% endif %}
            {% if ticket.user.id != request.user.id %}
            <a class="btn" href="{% url 'reviewcreation' id_ticket=ticket.id %}">Créer une critique</a>
            {% else %}
            <a class="btn" href="{% url 'ticketcreation' id_ticket=ticket.id %}">Modifier mon ticket</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}