{% extends 'base.html' %}
{% block content %}
    <div class="main__Review__TitleDiv">
        <h2 class="main__TitleDiv__Title">Créer une critique</h2>
    </div>
    <div class="Main__Review__Ticket">
        <p>Livre/Article</p>
        <div class="main__Review__Ticket__ticketItem">
            <p class="main__Review__Ticket__ticketItem__dateTime"> {{ instance_ticket.time_created }} </p>
            {% if instance_ticket.user.id == request.user.id %}
                <p class="main__Review__Ticket__ticketItem__user"> Vous avez demandé une critique</p>
            {% else %}
                <p class="main__Review__Ticket__ticketItem__user"> {{ instance_ticket.user.username }} a demandé une critique</p>
            {% endif %}
            <p> {{ instance_ticket.title }}</p>
            <p> {{ instance_ticket.description}}</p>
            {% if instance_ticket.image %}
                <img src=" {{instance_ticket.image.url}} " alt="Image ticket">
            {% endif %}
        </div>
    </div>
    <div class="Main__Review__Review">
        <p>Critique</p>
        <form method="POST" action="{% url 'reviewcreation' %}">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn" type="submit">Envoyer</button>
        </form>
    </div>
{% endblock content %}