{% extends 'base.html' %}
{% load static %}
{% block style %}
{# load css sheet specific to appweb app #}
<link rel="stylesheet" href="{% static 'appweb/css/styles.css' %}">
{% endblock style %}
{% block content %}
    <div class="main__Review__TitleDiv">
        <h2 class="main__TitleDiv__Title">Créer une critique</h2>
    <!-- end of main__review_titlediv div -->
    </div>
    <div class="Main__Review__Ticket">
        <p class="text_sized">Vous êtes en train de poster en réponse à </p>
        <div class="main__Review__Ticket__ticketItem">
            <div class="time-right-space">
                <p class="main__Review__Ticket__ticketItem__dateTime"> {{ instance_ticket.time_created }} </p>
            <!-- end of time-right-space div -->
            </div>
            {% if instance_ticket.user.id == request.user.id %}
            {# check if the user is the ticket's writer, if so display a message with "vous" , else display a message
            using the writer s name #}
                <p class="main__Review__Ticket__ticketItem__user"> Vous avez demandé une critique</p>
            {% else %}
                <p class="main__Review__Ticket__ticketItem__user"> {{ instance_ticket.user.username }} a demandé une
                    critique</p>
            {% endif %}
            <p> {{ instance_ticket.title }}</p>
            <p> {{ instance_ticket.description}}</p>
            {# check if there's an image in the ticket and display it if so #}
            {% if instance_ticket.image %}
                <img src=" {{instance_ticket.image.url}} " alt="Image ticket" class="image">
            {% endif %}
            <div class="button_space"></div>
        <!-- end of main__review__ticket_ticketitem div -->
        </div>
        <div class="button_space"></div>
    <!-- end of main__review__ticket div -->
    </div>
    <div class="Main__Review__Review">
        <p class="text_sized">Critique</p>
        <div class="Main__Review__ReviewCreationBlock__Review">
            <form method="POST" action="{% url 'reviewcreation' %}">
                {% csrf_token %}
                <p class="text_sized">Titre</p>
                <p class="main__ReviewCreationBlock__form">{{ form.headline}}</p>
                <p class="text_sized">Note</p>
                <p class="main__ReviewCreationBlock__form">{{ form.ratingcustom}}</p>
                <p class="text_sized">Commentaire</p>
                <p class="main__ReviewCreationBlock__form">{{ form.body}}</p>
                {# add the hidden form.ticket to match the form #}
                <p hidden>{{ form.ticket }}</p>
                <div class="btn-right-space">
                    <button class="btn" type="submit">Envoyer</button>
                <!-- end of btn-right-space div -->
                </div>
            <!-- end of form -->
            </form>
        <!-- end of main_review_reviewcreationblock__review div -->
        </div>
    <!-- end of main__review_review div -->
    </div>
{% endblock content %}