{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
{% endblock style %}
{% block content %}
    <div class="Startup">
        <div class="Startup__Signup">
            <h2>Inscrivez-vous maintenant</h2>
            <div class="Startup__Signup__Button"><a class="btn" href="{% url 'signup' %}">S'inscrire</a></div>
        </div>
        <div class="Startup__Login">
            <p>{{ message }}</p>
            <form method="post">
                <h2>Connectez-Vous</h2>
                {{ form.as_p }}
                {% csrf_token %}
                <div class="Startup__Login__Button"><button class="btn" type="submit" >Se connecter</button></div>
            </form>
        </div>
    </div>

{% endblock content %}